<section id="certifications" class="container content-section">
  <h2>Certifications</h2>

  <div *ngIf="professionalCertifications.length > 0">
    <h3>Professional Certificate</h3>
    <div class="certification-grid">
      <div class="certification-card"
        *ngFor="let cert of displayedProfessionalCertifications">
        <h4>{{ cert.title }}</h4>
        <p class="certification-meta">
          <strong>Provider:</strong> {{ cert.provider }} |
          <strong>Completed:</strong> {{ cert.completedDate }}
        </p>
        <p class="certification-instructors"
          *ngIf="cert.instructors && cert.instructors.length > 0">
          <strong>{{ cert.instructors.length > 1 ? 'Instructors' :
            'Instructor'}}:</strong>
          {{ cert.instructors.join(', ') }}
        </p>
        <div class="certification-link-wrapper" *ngIf="cert.certificateUrl">
          <a
            [href]="cert.certificateUrl"
            target="_blank"
            rel="noopener noreferrer"
            class="styled-link-button">View Certificate</a>
        </div>
      </div>
    </div>
    <div class="show-all-container" *ngIf="shouldShowProfessionalLoadMore">
      <button class="btn outline" (click)="loadAllProfessional()">
        All Certifications
      </button>
    </div>
  </div>

  <div *ngIf="organizationCertifications.length > 0">
    <h3>Certificate of Organization</h3>
    <div class="certification-grid">
      <div class="certification-card"
        *ngFor="let cert of displayedOrganizationCertifications">
        <h4>{{ cert.title }}</h4>
        <p class="certification-meta">
          <strong>Provider:</strong> {{ cert.provider }} |
          <strong>Completed:</strong> {{ cert.completedDate }}
        </p>
        <p class="certification-instructors"
          *ngIf="cert.instructors && cert.instructors.length > 0">
          <strong>{{ cert.instructors.length > 1 ? 'Instructors' :
            'Instructor'}}:</strong>
          {{ cert.instructors.join(', ') }}
        </p>
        <div class="certification-link-wrapper" *ngIf="cert.certificateUrl">
          <a
            [href]="cert.certificateUrl"
            target="_blank"
            rel="noopener noreferrer"
            class="styled-link-button">View Certificate</a>
        </div>
      </div>
    </div>
    <div class="show-all-container" *ngIf="shouldShowOrganizationLoadMore">
      <button class="btn outline" (click)="loadAllOrganization()">
        All Certifications
      </button>
    </div>
  </div>

</section>
